
<h1>Original Data</h1>
<input type="text" [(ngModel)]="keyword" name="keyword">
<button (click)="QuickFilltering(keyword)">search now</button>
<p *ngFor="let text of blogDTOArray">
    {{text}}
</p>


<h1> Data Couting</h1>
<p>{{blogDTOArray.length}}</p>

<h1>  Data After Removing </h1>
<p *ngFor="let text of GetDeleteData2()">
    {{text}}
</p>
<h1> Data Couting After Removing </h1>
<p>{{GetDeleteData2().length}}</p>

<hr>

<h1> Filltered Data </h1>
<p *ngFor="let text of blogfilltering">
    {{text}}
</p>
<h1> Data Couting</h1>
<p>{{blogfilltering.length}}</p>

<hr>

<h1> Data Couting</h1>
<p>{{blogDTOArray.length}}</p>

<h1> Data With lenght more than 15</h1>
<p *ngFor="let text of GetBlogWithMore15Length()">
    {{text}}
</p>

<h1> Data Couting After Filleting</h1>
<p>{{GetBlogWithMore15Length().length}}</p>


<h1> Data With app key word </h1>
<p *ngFor="let text of GetBlogWithAppKeyword()">
    {{text}}
</p>

<h1> Data Couting After Filleting with keyword</h1>
<p>{{GetBlogWithAppKeyword().length}}</p>

<!--<div [ngClass]="isLight?'light-theme':'dark-theme'">

    <br>
    <br>
    
    <h3 *ngIf="isEnglish">
        {{englishText}}
    </h3>
    
    <h3 *ngIf="!isEnglish">
        {{arabicText}}
    </h3>
    <br>
    <br>

    <button (click)="toggleTheme()">{{getButtonThemeText()}}</button>
    
    <button (click)="toggleLanguage()">{{getButtonLanguageText()}}</button>

    <br>
    <br>

    <h2 *ngFor="let item of names;let ref = index">
        {{item}} - {{ref}}
    </h2>

</div>-->
