*{
    padding: 15px;
}

.button{
    color: white;
    width: 180px;
    height: 60px;
}
.button-red{
    background-color: red;
}
.button-green{
    background-color: green;
}

.button-blue{
    background-color: blue;
}
.light-theme{
    background-color: #fff;
    color: #28282B;
}
.dark-theme{
    background-color: #28282B;
    color: #fff;
}