form {
    width: 80%;
    padding: 15px;
    margin-left: 85px;
    text-align: left;
}
input {
    margin: 20px;
}

textarea {
    margin: 20px;
}
button{
    text-align: center;
    margin: auto;
}
label{
    text-align: left;
}


.active-link {
    background-color: #ffffff !important;
    color: #4f93ff !important;
    font-weight: bold;
    border-radius: 5px;
    height: 45px;
    padding: 5px;
  }
  .active-link a {
    color: #4f93ff !important;
    font-weight: bold;
   
  }
  .link{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    font-size: x-large;
  }

  a[mat-button]:hover {
    background-color: #374151;
  }
  
  button[mat-button]:hover {
    background-color: #dc2626;
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .entry-section {
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  