form {
    width: 80%;
    padding: 15px;
    margin-left: 85px;
    text-align: left;
}
input {
    margin: 20px;
}

textarea {
    margin: 20px;
}
button{
    text-align: center;
    margin: auto;
}
label{
    text-align: left;
}